.gracias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #343a40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gracias-message {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .gracias-message h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007bff; /* Azul primario */
  }
  
  .gracias-message p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #6c757d; /* Gris oscuro */
  }
  