.mis-ventas-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mis-ventas-container h2 {
  margin-bottom: 20px;
}

.mis-ventas-container form div {
  margin-bottom: 15px;
}

.mis-ventas-container label {
  display: block;
  margin-bottom: 5px;
}

.mis-ventas-container input,
.mis-ventas-container textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.mis-ventas-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mis-ventas-container button:hover {
  background-color: #218838;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h4 {
  margin-top: 0;
}

.product-card p {
  margin: 10px 0;
}

.product-card button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #0056b3;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
