<div class="mis-ventas-container">
  <h2>Mis Productos</h2>
  <button (click)="toggleForm()">Añadir Producto</button>

  <div *ngIf="showForm">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Nombre del Producto</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
      </div>
      <div>
        <label for="description">Descripción</label>
        <textarea id="description" [(ngModel)]="product.description" name="description" required></textarea>
      </div>
      <div>
        <label for="price">Precio</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" required>
      </div>
      <div>
        <label for="category">Categoría</label>
        <input type="text" id="category" [(ngModel)]="product.category" name="category" required>
      </div>
      <div>
        <label for="image">Imagen del Producto</label>
        <input type="file" id="image" (change)="onFileChange($event)" required>
      </div>
      <button type="submit">Subir Producto</button>
    </form>
  </div>

  <div *ngIf="userProducts.length > 0">
    <h3>Tus Productos</h3>
    <div *ngFor="let producto of userProducts" class="product-card">
      <img [src]="producto.imageUrl" alt="{{ producto.name }}" class="product-image">
      <h4>{{ producto.name }}</h4>
      <p>{{ producto.description }}</p>
      <p>Precio: {{ producto.price | currency }}</p>
      <p>Categoría: {{ producto.category }}</p>
      <button (click)="editProduct(producto)">Editar</button>
      <button (click)="deleteProduct(producto.id)">Eliminar</button>
    </div>
  </div>
</div>
